.side-bar {
  width: 65px;
  background-color: #e0dfdf;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.bottom-button {
  position: absolute;
  bottom: 0px;
}

.button {
  width: 100%;
  height: 4em;
  border-style: none;
  display: block;
  margin: 0px;
  padding: 5px;
  outline: none;
  background-color: #e0dfdf;
}

.icon {
  width: 2em;
  height: 2em;
  max-width: 20em;
  max-height: 20em;
  object-fit: contain;
}
