* {
    font-family: 'Roboto',serif;
    font-weight:300;
    min-height: 0;
    min-width: 0;
    font-size:16px;
}

h1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    font-size: 26px;
    margin: .5em;
    margin-left:0;
}