.list-view {
    position: relative;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    width: 400px;
    margin-right:0;
    flex-grow:0;  
    flex-direction: column
}

.list-header{
    height:10%;
    padding-top:6%;
    padding-bottom:1%;
    padding-left:10%;
    padding-right:2%;
    box-sizing: border-box;
}
.list-header > h1 {
    font-size:24px;
    margin:0   
}

.list-body {
    overflow: auto;
    overflow-x:hidden;
    flex:auto;
    height:75%;
    box-sizing: border-box;
}

.list-footer{
    height:15%;
    bottom: 0px;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    background: white;
    flex-flow: column wrap;
    box-sizing: border-box;
}

.list-footer  p {
    margin: .5em;
}

.list-footer-btn-group {
    display: flex;

}

#more-button{
    background:none;
    width: 100%;
    margin: 0;
    text-align: center;
}