.table {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  border-spacing: 0 0.1em;
}

.table tbody {
  overflow: auto;
}

.table tbody tr {
  background-color: #eaeaea;
  transition: background 0.3s;
}

.table tbody tr:hover {
  background: #ffc700;
}

.table td {
  padding: 0.8em;
  font-size: 12px;
}

.table td:nth-child(1) {
  width: 5%;
}
.table td:nth-child(2) {
  width: 35%;
}

.table td:nth-child(3) {
  width: 10%;
}
.table td:nth-child(4) {
  width: 10%;
}
.table td:nth-child(5) {
  width: 20%;
}

.table tbody {
  overflow-y: scroll;
}

.table thead,
tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.table thead {
  flex-shrink: 0;
}
