.collapse-bar {
  height: 15px;
  font-size: 15px;
  text-align: center;
  background: #e0dfdf;
  transition: background 0.3s;
}

.collapse-bar:hover {
  background: #979494;
}

.collapse-bar span {
  font-size: 18px !important;
}
